{% include "components/partials/nav.html" %}
<section>
	<div class="container">
		<div class="row">
			<div class="jumbotron">
				<h1>Blog Page</h1>
				<p>Server rendered vannilla JavaScript app for lightning fast web apps</p>
				<a class="btn btn-primary btn-lg" href="https://github.com/bigbassroller/isomorphic-js">
					DOWNLOAD ON GITHUB
				</a>
			</div>
		</div>
</section>
{% if json %}
  I am json
{% elif object %}
  I am object
{% elif json.response.body %}
  I am json.response.body
{% elif blogPosts %}
  I am blogPosts
{% elif body %}
  I am body
{% elif data.response %}
  I am data.response
{% elif data %}
  I am data
{% else %}
  I am good!
{% endif %}
<h1>This is data {{ data.toString()  }}</h1>
<section>
	<div class="container">
		<div class="row">
		{% for item in data %}
			<article class="blog-posts-article">
				<header class="article-header">
				<h1>{{item.response}}</h1>
					<h1><a href="/blog/{{item.slug}}" data-navigate>{{item.title}}</a></h1>
				</header>
				<div class="entry-content">
					<p>{{item.entry_content}}</p>
				</div>
				<footer class="article-footer">
					{{item.categories}}	
				</footer>
			</article>
		{% else %}
		  <p>This would display if the 'data' collection were empty</p>
		{% endfor %}
		</div>
	</div>
</section>
{% include "components/partials/footer.html" %}