// ====================================================
// Table of Contents
// ====================================================
// Scaffolding
// Utilities
// Typography
// Body
// Header
// Navigation
// Logo
// Main
// Footer
// Forms
// Buttons
// Alerts
// Media Quiries
// Deprecating


// ====================================================
// Scaffolding
// ====================================================

// ====================================================
// Utilities
// ====================================================

// ====================================================
// Typography
// ====================================================


// ====================================================
// Body
// ====================================================

// ====================================================
// Header
// ====================================================

// ====================================================
// Navigation
// ====================================================
.navbar {
    align-items: center;
    display: flex;
}
.navbar ul {
    list-style: outside none none;
    margin-bottom: 0;
    margin-left: -5px;
    padding-left: 0;
}
// ====================================================
// Logo
// ====================================================

// ====================================================
// Main
// ====================================================

// ====================================================
// Footer
// ====================================================

// ====================================================
// Forms
// ====================================================

// ====================================================
// Buttons
// ====================================================

// ====================================================
// Alerts
// ====================================================

// ====================================================
// Deprecating
// ====================================================

// ====================================================
// Media Quiries
// ====================================================

