{% include "components/partials/nav.html" %}
<section>
	<div class="container">
		<div class="row">
			<div class="jumbotron">
				<h1>About Page</h1>
				<p>Server rendered vannilla JavaScript app for lightning fast web apps</p>
				<a class="btn btn-primary btn-lg" href="https://github.com/bigbassroller/isomorphic-js">
					DOWNLOAD ON GITHUB
				</a>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="container">
		<div class="row">
			<article class="page-article">
				<header class="page-article-header">
					<h1>About Page</h1>
				</header>
				<div class="page-entry-content">
					<p>Awesome content goes here</p>
				</div>
				<footer class="page-article-footer">
					This is the page article footer
				</footer>
			</article>
		</div>
	</div>
</section>