{% include "components/partials/nav.html" %}
<section>
	<div class="container">
		<div class="row">
			<div class="jumbotron">
				<h1>About Page</h1>
				<p>Server rendered vannilla JavaScript app for lightning fast web apps</p>
				<a class="btn btn-primary btn-lg" href="https://github.com/bigbassroller/isomorphic-js">
					DOWNLOAD ON GITHUB
				</a>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="container">
		<div class="row">
			<article class="page-article">
				<header class="page-article-header">
					<h1>About Page</h1>
				</header>
				<div class="page-entry-content">
					<p>Awesome content goes here...
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus pharetra ornare aliquam. Cras nec magna ut lectus congue mattis et id nisi. Nunc consectetur convallis dui, non efficitur neque. Morbi auctor sed lorem vel dignissim. Suspendisse sed nisi in justo ultricies congue efficitur aliquet ante. Ut eget odio rhoncus, laoreet nulla at, molestie mauris. Fusce fringilla ornare imperdiet. Suspendisse sed lorem eu urna facilisis luctus a id urna. Aliquam erat volutpat. Maecenas gravida ex non justo posuere viverra. Nulla facilisi. Nulla facilisi. Proin nibh orci, convallis efficitur quam quis, efficitur lacinia erat. Donec pellentesque non erat nec imperdiet. Vestibulum at nisl elit.</p>
					Donec finibus erat vitae dapibus tincidunt. Proin semper ut massa at egestas. Duis facilisis lectus eleifend dui fermentum, ac mollis purus vulputate. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque non massa eleifend, vestibulum mauris ac, placerat nunc. Aliquam eget lorem a diam aliquam maximus. Nulla facilisi. Cras venenatis, ligula a blandit pellentesque, neque diam commodo elit, ac bibendum lectus metus viverra dolor. Sed venenatis augue vel eros convallis, a sodales quam ultricies. Nullam ultrices, libero viverra viverra malesuada, diam enim accumsan augue, eget hendrerit tellus ex nec ipsum. Quisque eget magna eget mi interdum tristique. Ut molestie, dolor interdum ultricies hendrerit, tellus diam fringilla ligula, eu tincidunt turpis ante id mauris. Donec vel rhoncus est. Sed auctor pulvinar tristique. Nam eu sapien facilisis, feugiat felis vel, luctus sem.</p>
					<p>Nulla at ex in velit vehicula maximus. Donec pulvinar, odio et volutpat tempor, mauris massa pharetra ex, id rutrum nulla lorem non sapien. Duis aliquet venenatis tortor, ac fermentum urna lacinia quis. Nunc non est ornare, lobortis magna sit amet, vehicula turpis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam et interdum dolor. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam dictum magna nisi, eu dapibus augue molestie id. Proin in ornare ligula. Donec posuere fringilla est eu pulvinar. Nullam semper ex accumsan nisi semper, ac efficitur lectus imperdiet. Morbi viverra pretium velit non viverra. Duis non lacinia nulla.</p>
					<p>Nunc rutrum facilisis lorem. Vestibulum sapien metus, semper id ligula quis, consequat blandit lectus. Etiam placerat maximus dignissim. Quisque at dui arcu. Ut in lectus sed enim posuere euismod. Maecenas egestas ligula diam, sit amet bibendum lectus efficitur at. Cras vitae orci pretium, euismod nisi vel, bibendum elit. Etiam metus lorem, condimentum nec elit varius, pharetra rutrum est. Pellentesque tempor molestie purus, vel pellentesque lorem rutrum id.</p>
					<p>In fringilla tortor a ex imperdiet venenatis. Fusce ultrices et urna eget aliquet. Proin rutrum rutrum neque, sit amet sagittis mi consectetur nec. Vestibulum volutpat fringilla ex eget euismod. Duis eleifend diam nec accumsan dictum. Sed rhoncus, nulla vitae condimentum posuere, metus urna egestas ipsum, nec consequat nulla dolor at est. Vestibulum convallis nisi sem, eu vehicula odio aliquam vitae. Fusce at dignissim turpis, vitae imperdiet tellus. Sed congue pharetra velit, at iaculis ligula mollis sollicitudin. Curabitur pulvinar neque in nulla ornare, eu ultrices nunc varius. Duis ac lacinia tortor, eu facilisis diam. Cras at orci id purus luctus pulvinar nec et turpis. Aenean id magna in tellus dignissim ultrices.</p>
					<p>Maecenas posuere massa nec accumsan semper. Aenean id augue non orci scelerisque blandit at eget quam. Nulla interdum convallis odio, sed sagittis leo aliquet quis. Quisque vel dictum libero. Mauris ultrices elit quis elit ultricies vehicula. Nunc nec convallis arcu. Quisque eget varius enim. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam lobortis turpis et velit hendrerit, sed pharetra felis molestie. Aliquam erat volutpat. Aliquam augue dolor, imperdiet quis sem non, lobortis finibus diam. Ut suscipit metus eget ex varius semper. Curabitur sem quam, semper scelerisque odio eget, fermentum iaculis nunc. Aenean viverra lorem vitae tellus rutrum, et scelerisque eros lobortis.</p>
					<p>Aliquam quis metus at quam semper molestie ac non odio. Mauris bibendum malesuada ex sit amet pulvinar. Proin sit amet nibh ac ex sollicitudin interdum non nec ipsum. Donec ultricies libero ac ipsum ornare malesuada. Nunc sed nulla hendrerit, sagittis nunc ac, porta quam. Suspendisse sollicitudin lectus nunc. Praesent ac fringilla dui, ac pretium libero. Cras eu neque quis lectus posuere auctor id non purus.</p>
				</div>
				<footer class="page-article-footer">
					This is the page article footer
				</footer>
			</article>
		</div>
	</div>
</section>
{% include "components/partials/footer.html" %}